[Unit]
Description=Create toolbox container with Distrobox
After=local-fs.target

[Service]
ExecStart=/usr/libexec/toolbox-mount
RemainAfterExit=yes

[Install]
WantedBy=default.target
